* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', 'Open Sans', sans-serif;
}

body {
  background-color: #fff;
  margin: 30px;
}

h1, h2 {
  margin-bottom: 30px;
}

h3, h1 span {
  color: #537d7b;
}

label{
  margin-top: 30px;
  display: block;
  text-transform: uppercase;
  color: #333;
  letter-spacing: 2px;
}

input, textarea {
    width: 100%;
}

input, textarea, .funfact {
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #cdcfcf;
    margin-top:5px;
    margin-right: 5px;
    padding: 10px;
    color: #333;
    background-color: #f6f8f8;
}

.funfact, .fact-cover {
  display: block;
  padding: 40px 20px;
  margin-bottom: 5px;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.new:after {
  content: "New";
  background: skyblue;
  color: white;
  padding: 3px 6px;
  font-size: .7em;
  border-radius: 3px;
  margin-left: 5px;
}

#newRestaurantInput {
  width: 65%;
}
#helpText {
  cursor: pointer;
  margin-bottom: 30px;
}

#helpText span {
  display: inline;
  color: green;
}

#helpText:before {
  font-family: "Material Icons";
  content: "\E8FD";
  color: #537d7b;
  display: inline-block;
  vertical-align: middle;
  line-height: 23px;
}

.strike {
  text-decoration: line-through;
  color: gray;
}

p {
  width: 90%;
}

#restaurantReviewInput {
  height: 100px;
}

button, .fact-cover {
  background: #537d7b;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  text-shadow: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

button {
  padding: 15px 30px;
  margin-top: 15px;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.section {
  float: left;
  width: 33%;
}

.review {
  padding-bottom: 15px;
  padding-right: 10px;
}

#flashMessage {
  padding: 10px;
  background: #537d7b;
  color: white;
}
